html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid green;
}

.grid-container {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 600px;
  border: 1px solid black;
}

.row {
  border: 1px solid black;
  display: flex;
  flex: 1;
}

.column {
  border: 1px solid red;;
  display: flex;
  flex: 1;
}